<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="images/favicon.png" rel="shortcut icon">
        <title th:text="${titleText} ? ${titleText} : ':)'"></title>
        <!--====== Google Font ======-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800" rel="stylesheet">

        <!--====== Vendor Css ======-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/vendor.css}">

        <!--====== Utility-Spacing ======-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/utility.css}">

        <!--====== App ======-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}">
<!--        <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap/bootstrap.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/css/files.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}"/>-->
<!--        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">-->
<!--        <script th:src="@{/js/jquery/jquery-3.3.1.min.js}"></script>-->
<!--        <script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>-->
<!--        <script th:src="@{/js/admin.js}"></script>-->
<!--        <script th:src="@{/js/profile.js}"></script>-->
<!--        <script th:src="@{/js/script.js}"></script>-->
    </head>
</html>